{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <section class="club-news">
            <div class="club-news__page-link">
                <div class="club-news__link-block">
                    <img class="club-news__house" src="{% static 'img/house.svg' %}" alt="house-icon"/>
                    <a href="{% url 'app_home:home' %}" class="club-news__link">На главную</a>
                </div>
                <div>
                    <span class="club-news__link-span">/</span>
                </div>
                <div class="club-news__arrow-span">
                    <span class="club-news__link-span">Новость</span>
                </div>
            </div>
            <div class="club-news__title">
                <h2 class="club-news__title-text">Новость</h2>

                <img class="club-news__line" src="{% static 'img/line.svg' %}" alt="line"/>

                <p class="club-news__p">{{ news.created_at }}</p>
            </div>
            <h1 class="club-news__main-title">{{ news.title }}</h1>
            {% if news.main_picture %}
                <div class="club-news__img">
                    <img src="{{ news.main_picture.url }}" alt="news-img"/>
                </div>
            {% endif %}

            <div class="club-news__text">
                <div class="club-news__text-p">{{ news.content|safe }}</div>
            </div>
            <div class="club-news__img-blocks">
                {% for picture in news.other_pictures.all %}
                    <div class="club-news__img-block">
                        <img style="height: 205px" src="{{ picture.img.url }}" alt="news-img"/>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}

