{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <section class="club-news">
            <div class="club-news__page-link">
                <div class="club-news__link-block">
                    <img class="club-news__house" src="../img/house.svg" alt="house-icon"/>
                    <a href="index.html" class="club-news__link">На главную</a>
                </div>
                <div>
                    <span class="club-news__link-span">/</span>
                </div>
                <div class="club-news__arrow-span">
                    <span class="club-news__link-span">Новость</span>
                </div>
            </div>
            <div class="club-news__title">
                <h2 class="club-news__title-text">Новость</h2>

                <img class="club-news__line" src="../img/line.svg" alt="line"/>

                <p class="club-news__p">XX.XX.2024</p>
            </div>
            <h1 class="club-news__main-title">Военно-патриотическому клубу «Рысь» - 3 года</h1>
            <div class="club-news__img">
                <img src="../img/news-img.png" alt="news-img"/>
            </div>

            <div class="club-news__text">
                <p class="club-news__text-p">{{ news.content|safe }}</p>
                <br/>

            </div>
            <div class="club-news__img-blocks">
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
                <div class="club-news__img-block">
                    <img src="../img/news-img1.png" alt="news-img"/>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

