{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <main class="about-main">
        <div class="about__news-page-block">
            <div class="club-news__page-link">
                <div class="club-news__link-block">
                    <img class="club-news__house" src="{% static 'img/house.svg' %}" alt="house-icon"/>
                    <a href="{% url 'app_home:home' %}" class="club-news__link">На главную</a>
                    <span class="club-news__link-span">/</span>
                    <span class="club-news__link-span">{{ club.name }}</span>
                </div>
            </div>
        </div>
        <div class="about__banner-block">
            <img src="{% static 'img/clubs-banner-img.png' %}" alt="clubs-banner-img"/>
        </div>
        <section class="about">
            <h1 class="about__title">Военно-патриотический клуб {{ club.name }}</h1>
            <div class="about__club-text-soc">
                <div class="about__club-text">
                    <p class="about__text-p">{{ club.military_unit }}</p>
                    <p class="about__text-p">Основан: {{ club.date_of_founding }}</p>
                </div>
                <div class="about__club-soc-block">
                    <div class="about__club-soc">

                        {% if club_social_link_inst %}
                            <a class="about__soc-title"
                               href="{{ club_social_link_inst }}" target="_blank">
                                <img src="{% static 'img/inst-club.svg' %}" alt="instagram"
                                     class="about__club-soc-icon"/>
                                {% with club_social_link_inst|last_segment:"/" as my_list %}
                                    <span>{{ my_list|last }}</span>
                                {% endwith %}</a>
                        {% elif main_social_link_inst %}
                            <a class="about__soc-title"
                               href="{{ main_social_link_inst }}" target="_blank">
                                <img src="{% static 'img/inst-club.svg' %}" alt="instagram"
                                     class="about__club-soc-icon"/>
                            {% with main_social_link_inst|last_segment:"/" as my_list %}
                                    <span>{{ my_list|last }}</span>
                                {% endwith %}
                            </a>
                        {% endif %}

                        {% if club_social_link_phone %}
                            <a class="about__soc-title" href="">
                                <img src="{% static 'img/phone-club.png' %}" alt="phone"
                                     class="about__club-soc-icon"/>{{ club_social_link_phone }}</a>
                        {% elif main_social_link_phone %}
                            <a class="about__soc-title" href="">
                                <img src="{% static 'img/phone-club.png' %}" alt="phone"
                                     class="about__club-soc-icon"/>{{ main_social_link_phone }}
                            </a>
                        {% endif %}

                        {% if club_social_link_tiktok %}
                            <a class="about__soc-title"
                               href="{{ club_social_link_tiktok }}" target="_blank">
                                <img src="{% static 'img/tic-toc-club.svg' %}" alt="Tik-Tok"
                                     class="about__club-soc-icon"/>
                                {% with club_social_link_tiktok|last_segment:"/" as my_list %}
                                    <span>{{ my_list|last }}</span>
                                {% endwith %}
                            </a>
                        {% elif main_social_link_tiktok %}
                            <a class="about__soc-title"
                               href="{{ main_social_link_tiktok }}" target="_blank">
                                <img src="{% static 'img/tic-toc-club.svg' %}" alt="Tik-Tok"
                                     class="about__club-soc-icon"/>
                                {% with main_social_link_tiktok|last_segment:"/" as my_list %}
                                    <span>{{ my_list|last }}</span>
                                {% endwith %}
                            </a>
                        {% endif %}

                        {% if club_social_link_tg %}
                            <a class="about__soc-title"
                               href="{{ club_social_link_tg }}" target="_blank">
                                <img src="{% static 'img/telega-svg.svg' %}" alt="Телеграм"
                                     class="about__club-soc-icon"/>
                                {% with club_social_link_tg|last_segment:"/" as my_list %}
                                    <span>{{ my_list|last }}</span>
                                {% endwith %}
                            </a>
                        {% elif main_social_link_tg %}
                            <a class="about__soc-title"
                               href="{{ main_social_link_tg }}" target="_blank">
                                <img src="{% static 'img/telega-svg.svg' %}" alt="Телеграм"
                                     class="about__club-soc-icon"/>
                                {% with main_social_link_tg|last_segment:"/" as my_list %}
                                    <span>{{ my_list|last }}</span>
                                {% endwith %}
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
            <h2 class="about__h2">О клубе</h2>
            <p class="about__about-text">
                {{ club.description }}
            </p>
            <div class="club-news__img-blocks">
                {% for picture in club.other_pictures.all %}
                    <div class="club-news__img-block">
                        <img src="{{ picture.img.url }}" alt="news-img"/>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}