.news {
  padding: 0 42px 0 42px;
  @include media-small-desctop {
    padding: 0 10px 0 10px;
  }

  &__title {
    @include font($height: 100%, $size: 25px, $weight: 400);
    font-family: $font-family;
    text-transform: uppercase;
    color: #328ca7;
    margin: 0;

    @include media-small-desctop {
      @include font($height: 100%, $size: 12px, $weight: 400);
    }
  }

  hr {
    background-color: #328ca7;
    height: 2px;
    margin: 0;
  }

  &__cards {
    margin-top: 30.43px;
    display: flex;
    overflow-x: auto;
    gap: 39.7px;

    &::-webkit-scrollbar {
      height: 12px; /* Высота горизонтального скроллбара */
    }

    /* Стили для ползунка скроллбара */
    &::-webkit-scrollbar-thumb {
      background-color: #888; /* Цвет ползунка */
      border-radius: 10px; /* Радиус скругления углов ползунка */
    }

    /* Стили для фона скроллбара */
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Цвет фона скроллбара */
      border-radius: 10px; /* Радиус скругления углов фона */
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    border-radius: 2px 2px 0 0;
    width: 300px;
    cursor: pointer;

    @include media-small-desctop {
      width: 172px;
    }
  }

  &__data {
    @include font($height: 100%, $size: 16px, $weight: 400);
    font-family: $font-family;
    color: #328da2;

    @include media-small-desctop {
      @include font($height: 100%, $size: 9px, $weight: 400);
    }
  }

  &__text {
    padding: 8px 15px;
    height: 98px;
    background: linear-gradient(
      360deg,
      rgba(103, 175, 197, 0.7) 0%,
      rgba(255, 255, 255, 0.7) 100%
    );

    @include media-small-desctop {
      border-radius: 0 0 1px 1px;
      padding: 5px 9px;
      height: 57px;
    }
  }

  &__p {
    @include font($height: 100%, $size: 16px, $weight: 400);
    font-family: $second-family;
    color: #333;
    margin-top: 3.94px;
    margin-bottom: 0;

    @include media-small-desctop {
      @include font($height: 100%, $size: 9px, $weight: 400);
    }
  }
}
