{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <section class="club-news">
            <div class="club-news__page-link">
                <div class="club-news__link-block">
                    <img class="club-news__house" src="{% static 'img/house.svg' %}" alt="house-icon"/>
                    <a href="{% url 'app_home:home' %}" class="club-news__link">На главную</a>
                    <span class="club-news__link-span">/</span>
                    <span class="club-news__link-span">Ошибка</span>
                </div>
            </div>
            <div class="club-news__title">
                <h2 class="club-news__title-text">Упс.. Ошибка!</h2>
            </div>
        </section>
    </main>
{% endblock %}

